{% extends 'base/base.html' %}

{% block content %}
<h1>{{ object }}</h1>
<dl>
<dt>Total Points</dt><dd>{{ total_points }}</dd>
<dt>Dollars Earned</dt><dd>${{ total_dollars|floatformat:"2" }}</dd>
<dt>Total Spent</dt><dd>${{ total_spent|floatformat:"2" }}</dd>
<dt>Dollars Remaining</dt><dd>${{ dollars_remaining|floatformat:"2" }}</dd>
</dl>
{% endblock %}
