{% if user.is_authenticated %}
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="pointsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Points
</a>
<div class="dropdown-menu" aria-labled-by"pointsDropdown" id="pointsMenu">
<a class="dropdown-item" href="{% url 'summary' %}">Summary</a>
<a class="dropdown-item" href="{% url 'task-list' %}">Tasks</a>
<a class="dropdown-item" href="{% url 'point-list' %}">Points</a>
<a class="dropdown-item" href="{% url 'redemption-list' %}">Redemptions</a>
</div>
{% endif %}
