{% extends 'base/base.html' %}
{% load octicons %}

{% block content %}
<h1>Points</h1>
<a href="{% url 'point-add' %}" class="btn btn-outline-primary btn-block" role="button">{% octicon 'plus' %}Add</a>
<ul class="container">
{% for point in object_list %}
    <li class="row">
        <div class="col-sm-8">{{ point }}</div>
        <div class="col-sm-2"><a href="{% url 'point-update' point.pk %}" class="btn btn-outline-primary" role=button>{% octicon 'pencil' %}Edit</a></div>
        <div class="col-sm-2"><a href="{% url 'point-delete' point.pk %}" class="btn btn-outline-danger" role=button>{% octicon 'trashcan' %}Delete</a></div>
    </li>
{% empty %}
    <li class="row">No points</li>
{% endfor %}
</ul>
{% endblock %}
