{% extends 'points/base.html' %}

{% block content %}
<h1>{{ object }}</h1>
<dl>
<dt>Earned At</dt><dd>{{ object.earned_dt|date }}</dd>
<dt>Earned For</dt><dd>{{ object.task }}</dd>
</dl>
{% endblock %}
