{% extends 'base/base.html' %}
{% load octicons %}

{% block content %}
<h1>Redemptions</h1>
<a href="{% url 'redemption-add' %}" class="btn btn-outline-primary btn-block" role="button">{% octicon 'plus' %}Add</a>
<ul class="container">
{% for redemption in object_list %}
    <li class="row">
        <div class="col-sm-8">{{ redemption }}</div>
        <div class="col-sm-2"><a href="{% url 'redemption-update' redemption.pk %}" class="btn btn-outline-primary" role=button>{% octicon 'pencil' %}Edit</a></div>
        <div class="col-sm-2"><a href="{% url 'redemption-delete' redemption.pk %}" class="btn btn-outline-danger" role=button>{% octicon 'trashcan' %}Delete</a></div>
    </li>
{% empty %}
    <li class="row">No redemptions</li>
{% endfor %}
</ul>
{% endblock %}
