{% extends 'base/base.html' %}
{% load octicons %}

{% block content %}
<h1>Tasks</h1>
<a href="{% url 'task-add' %}" class="btn btn-outline-primary btn-block" role="button">{% octicon 'plus' %}Add</a>
<ul class="container">
{% for task in object_list %}
    <li class="row">
        <div class="col-sm-8">{{ task }}</div>
        <div class="col-sm-2"><a href="{% url 'task-update' task.pk %}" class="btn btn-outline-primary" role=button>{% octicon 'pencil' %}Edit</a></div>
        <div class="col-sm-2"><a href="{% url 'task-delete' task.pk %}" class="btn btn-outline-danger" role=button>{% octicon 'trashcan' %}Delete</a></div>
    </li>
{% empty %}
    <li class="row">No tasks</li>
{% endfor %}
</ul>
{% endblock %}
