{% load static %}

<html>
    <head>
        <title>Rewards - {%block title%}Home{%endblock%}</title>
        {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> #}
        <link id="themeLink" rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="{% static 'base/bootswatch.js' %}"></script>
    <style>
    .octicon {
          display: inline-block;
          vertical-align: text-top;
          fill: currentColor;
        }
    </style>
    </head>
    <body>
        <header>
        </header>
        <div class="mainmenu">
            {% block mainmenu%}
                {% include 'base/menu.html' %}
            {% endblock %}
        </div>
        <!--<div>
            {% block breadcrumbs %}
            <ol class="breadcrumb">
            {% for link in breadcrumbs %}
                {% if forloop.last %}
                    <li class="breadcrumb-item active"><a href="{{link.url}}">{{link.text}}</a></li>
                {% else %}

                    <li class="breadcrumb-item"><a href="{{link.url}}">{{link.text}}</a></li>
                {% endif %}
            {% endfor %}
            </ol>
            {% endblock %}
        </div>-->
        <div>
            <ul id="themeList"></ul>
        </div>
        <main role="main" class="container">
        <div class="page-header">
            {% block header %}
            <h1>{{header}}</h1>
            {% endblock %}
        </div>
        <ul id="testList"></ul>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        </main>
    </body>
</html>
