{% extends 'base/base.html' %}

{% block content %}
<h1>{%block title%}{{ object }}{%endblock%}</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form>
{% endblock %}
