{% extends 'base/base.html' %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{%block title%}{{ object }}{%endblock%}"?</p>
    <input type="submit" value="Confirm">
</form>
{% endblock %}
