<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top justify-content-between">
<a class="navbar-brand" href="/">Rewards Site</a>
<ul class="navbar-nav">

{% include 'points/menu.html' %}
</ul>

<ul class="navbar-nav">
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="themeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Themes
    </a>
    <div class="dropdown-menu" aria-labeled-by="themeDropdown" id="themeList">
    </div>
</li>

{% if user.is_authenticated %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        User: {{ user.get_username }}
    </a>
    <div class="dropdown-menu" aria-labeled-by="accountDropdown" id="accountMenu">
        <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
        <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
    </div>
</li>
{% else %}
    <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
{% endif %}

</ul>
</nav>
